<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Features" version="2.20.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Linq" version="2.20.0" targetFramework="net472" />
  <package id="LingvoNET" version="1.1.2" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit.Analyzers" version="3.6.1" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net472" />
</packages>